<?xml version="1.0" encoding="UTF-8"?>
<sdf version="1.9">
  <model xmlns:xacro="http://www.ros.org/wiki/xacro" name='x500_depth'>
    <xacro:include filename="$(find x500_description)/models/x500/model.xacro" />
    <xacro:include filename="$(find x500_description)/models/OakD-Lite/model.xacro" />
    <joint name="CameraJoint" type="fixed">
      <parent>chassis_link</parent>
      <child>OakD-Lite/base_link</child>
      <pose relative_to="chassis_link">.12 .03 .242 0 0 0</pose>
    </joint>
  </model>
</sdf>
